

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

h1 {
  font-size: 32px;
  margin-bottom: 5px;
}

h2 {
  font-size: 24px;
  margin-bottom: 5px;
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: #0066cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

section {
  margin-bottom: 40px;
}

.skill {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.skill-name {
  width: 150px;
  font-weight: bold;
}

.skill-bar {
  width: 200px;
  height: 8px;
  background-color: #f0f0f0;
  border-radius: 4px;
  margin-left: 10px;
}

.skill-progress {
  height: 100%;
  border-radius: 4px;
}

.skill-python .skill-progress {
  width: 85%;
  background-color: #00b894;
}

.skill-swift .skill-progress {
  width: 90%;
  background-color: #0984e3;
}

.skill-sql .skill-progress {
  width: 78%;
  background-color: #6c5ce7;
}

.skill-tableau .skill-progress {
  width: 73%;
  background-color: #fdcb6e;
}

.skill-communication .skill-progress {
  width: 75%;
  background-color: #55efc4;
}

.skill-presentation .skill-progress {
  width: 100%;
  background-color: #fd79a8;
}

.skill-leadership .skill-progress {
  width: 85%;
  background-color: #ffeaa7;
}

.skill-analytical .skill-progress {
  width: 87%;
  background-color: #fab1a0;
}

.skill-problem-solving .skill-progress {
  width: 90%;
  background-color: #74b9ff;
}

.skill-ml .skill-progress {
  width: 90%;
  background-color: #a29bfe;
}

    .social-links {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
    }

    .social-links li {
      margin-right: 10px;
    }

    .btn-email,
    .btn-linkedin,
    .btn-github {
      display: inline-block;
      background-color: transparent;
      border: none;
      padding: 0;
      border-radius: 50%;
      overflow: hidden;
    }

    .btn-email img,
    .btn-linkedin img,
    .btn-github img {
      width: 45px;
      height: 45px;
    }

    .btn-email:hover img,
    .btn-linkedin:hover img,
    .btn-github:hover img {
      opacity: 0.7;
    }

.profile-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-details {
  margin-left: 10px;
}

.profile-details h1,
.profile-details h3 {
  margin: 0;
}

.profile-photo img {
  width: 450px; 
  height: 450px; 
  border-radius: 50%;
}


.profile-photo {
  flex-shrink: 0; 
}

.profile-details {
  margin-left: 20px; /* Add some spacing between the image and profile info */
}


.container {
  background-color: rgba(187, 148, 247, 0.45);
}

